[Unit]
Description=PortForwardGo_Star_Horizon Service
After=network.target

[Service]
Type=simple
User=root
Restart=always
RestartSec=20s
LimitCPU=infinity
LimitFSIZE=infinity
LimitDATA=infinity
LimitSTACK=infinity
LimitCORE=infinity
LimitRSS=infinity
LimitNOFILE=infinity
LimitAS=infinity
LimitNPROC=infinity
LimitMEMLOCKS=infinity
LimitSIGPENDING=infinity
LimitMSGQUEUE=infinity
LimitRPTRIO=infinity
LimitRTTIME=infinity
WorkingDirectory=/etc/PortForwardGo_Star_Horizon/
ExecStart=/etc/PortForwardGo_Star_Horizon/PortForwardGo -config=/etc/PortForwardGo_Star_Horizon/config.json -log=/etc/PortForwardGo_Star_Horizon/run.log

[Install]
WantedBy=multi-user.target
